body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Fallback background color */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffe0e6; /* Light pink background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.post:last-child {
    border-bottom: none;
}

/* Horizontal Scrolling */
.scrollable-content {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
    margin-bottom: -20px; 
}

.post {
    flex: 0 0 auto;
    width: 300px; /*width*/
    margin-right: 20px; 
}

/* Styles for Post Content */
.post h3 {
    margin-top: 0;
}

.post p {
    margin-bottom: 0;
}

/* Styles for the Home button */
.home-button {
    position: absolute;
    top: 20px;
    right: 450px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #0056b3; 
}
