body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Fallback background color */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
    max-width: 440px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffe0e6;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 20px solid #000; /* Add border similar to phone frame */
}


.post {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.post:last-child {
    border-bottom: none;
}

/* Vertical Scrolling */
.scrollable-content {
    max-height: 600px; /* Adjusted to match phone height */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: -20px;
}

.post {
    flex: 0 0 auto;
    width: 100%; /* Adjusted to fit container width */
    margin-bottom: 20px; /* Adjusted to create space between posts */
}

/* Styles for Post Content */
.post h3 {
    margin-top: 0;
}

.post p {
    margin-bottom: 0;
}

/* Styles for the Home button */
.home-button {
    position: absolute;
    top: 20px;
    right: calc((100vw - 440px) / 2); /* Adjusted to center align with phone */
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #0056b3;
}
